<!DOCTYPE html>
<html>
  <head>
    <title>Palabras magicas</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  </head>
  <body class='container'>
  	<form action='/' method='post' id='myForm'>
  	  <label>Texto</label>
  	  <input type='text' name='text'/>
  	  <button typ='submit' class='btn btn-primary'>Verificar</button>
  	</form>
  	<div id='result'></div>
  	<script>
  	  $('#myForm').submit(function(e){
        e.preventDefault();
        $.ajax({
          url:'/',
          type:'post',
          data:$('#myForm').serialize(),
          success:function(data){
            $('#result').text('Cantidad de palabras magicas detectadas: ').append(data);
          }
        });
      });
    </script>
  </body>
</html>